@import "../variables";
@import "../media";

.profile-section {
  color: $webapp-dark-text-color;
  .form-profile {
    background-color: #f9f9f9;
    border: 1px solid #bbbbbb;
    border-radius: 0 4px 4px 0;
    padding: 20px;
    text-align: left;
    .form-control[enabled] {
      background-color: #f1f1f1;
    }
    .form-control[disabled] {
      background-color: #f9f9f9;
      border: 0;
      cursor: default;
      box-shadow: none;
    }
    .help-block {
      font-weight: bold;
    }
    .btn-edit:hover {
      color: $blue-color;
    }
    .btn-edit-ok {
      display: none;
      background-color: $blue-color;
      color: $webapp-bright-text-color;
      padding: 6px 2px;
    }
    .link-change-password {
      background-color: #f9f9f9;
      border: 0;
      box-shadow: none;
      .btn-link {
        cursor: pointer;
      }
    }
    .panel-success {
      padding: 0 12px;
      .alert {
        padding: 10px;
      }
    }
    #form-password {
      padding: 15px 12px;
      .card-body {
        border: 1px solid #d6d6d6;
        padding-top: 10px;
        @include media-breakpoint-down(md) {
          padding: 10px;
        }
      }
      .form-control {
        background-color: #f1f1f1;
      }
      .panel-body {
        .alert {
          padding: 10px;
          margin-bottom: 0;
        }
      }
    }
  }
}
