@import "../media";
@import "../variables";

.right-panel {
  float: right;
  width: $right-panel-width;
  min-height: 280px;
  min-width: 260px;
  background-color: #fff;
  padding: $right-panel-padding;
  border-radius: 2px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  .nav {
    margin-bottom: 20px;
  }
  .tab-content {
    color: #5a5a5a;
  }
}
