@import "../media";

.takeword-section {
  .elements {
    .takeword-item {
      background: #fff;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 10px;
      color: #5a5a5a;
      .item-image {
        float: left;
        margin-right: 10px;
        img {
          width: 150px;
          max-height: 100px;
        }
      }
      .word {
        position: relative;
        .edit-message {
          float: right;
          text-align: right;
          position: absolute;
          right: 0;
          top: 0;
          .btn {
            color: #fff;
            background-color: #808080;
            padding: 2px 7px;
            &:hover {
              background-color: #4590ad;
            }
          }
          .dropdown-menu {
            padding: 0;
            border: none;
            left: auto;
            right: 0;
          }
        }
        display: inline-block;
        min-height: 120px;
        width: calc(100% - (150px + 10px));
        .author {
          display: inline-block;
        }
        .date {
          display: inline-block;
          padding-left: 20px;
          color: #a9a9a9;
          font-weight: bold;
        }
        .message {
          margin-bottom: 10px;
          font-size: 1.2em;
          .read-more-state {
            display: none;
          }

          .read-more-wrap {
            margin-bottom: 10px;
            .read-more-target {
              opacity: 0;
              max-height: 0;
              font-size: 0;
              transition: .25s ease;
            }
          }

          .read-more-state:checked ~ .read-more-wrap .read-more-target {
            display: inline;
            opacity: 1;
            font-size: inherit;
          }

          .read-more-state ~ .read-more-trigger:before {
            content: 'More \00bb';
          }

          .read-more-state:checked ~ .read-more-trigger:before {
            content: '\00ab Less';
          }

          .read-more-trigger {
            cursor: pointer;
            display: inline-block;
            color: #3097d1;
            font-size: .9em;
            font-weight: normal;
            line-height: 1;
          }
        }
        .tags {
          margin: 10px 0 10px;
          color: #a9a9a9;
          font-weight: bold;
          font-style: italic;
        }
        .taken-count {
          display: inline-block;
          border-bottom: 1px solid #b2afaf;
          border-radius: 5px;
          padding: 0 10px;
          margin-left: 10px;
          line-height: 20px;
        }
        .take-this {
          //position: absolute;
          //right: 0;
          //bottom: 0;
          text-align: right;
          .btn-take-this {
            background-color: #2881b3;
            color: white;
            border: 1px solid #dfdfdf;
            padding: 5px 15px;
            border-radius: 4px;
          }
          .btn-already-taken {
            background-color: #6f93a7;
            color: #cfcfcf;
            border: 1px solid #4d4d4d6b;
            padding: 8px 15px;
            border-radius: 4px;
          }
        }
      }
      .comment {
        padding: 5px;
        border: 1px solid #eaeaea;
        border-radius: 5px;

        .count {
          cursor: pointer;
          font-weight: normal;
          &:hover {
            color: #3097d1;
          }
        }
        .count:after {
          font-size: 0.8em;
        }
        .comment-state {
          display: none;
        }
        .comment-state ~ .count:after {
          content: '\25bc';
        }
        .comment-state:checked ~ .count:after {
          content: '\25b2';
        }
      }
    }
    .btn-more-takeword {
      margin-bottom: 20px;
      background-color: #fff;
      color: #535353;
      border-radius: 4px;
      border: none;
      padding: 5px 8px;
      text-shadow: 1px 1px 2px #4eadf8;
    }
  }
}
