.chat-is-online {
  display: inline-block;
  position: fixed;
  bottom: 130px;
  right: 2px;
  padding: 5px;
  background-color: #a9d7ff;
  border: 1px solid #ff7373;
  border-radius: 5px;
  width: 80px;
}
.chat-is-online a {
  color: #0583ca;
}

/**
Button bubble chat
*/
.btn-chat {
  position: fixed;
  right: 10px;
  bottom: 80px;
  z-index: 10;
  cursor: pointer;
}
.btn-chat img {
  width: 50px;
}
.btn-chat .bubble {
  display: block;
  position: absolute;
  right: 10%;
  top: 10%;
}
.btn-chat .bubble::after {
  content: "";
  background-color: rgb(6, 180, 0);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
}
.btn-chat .bubble .bubble-outer-dot {
  margin: 1px;
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(0, 168, 0, 0.4);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.btn-chat .bubble .bubble-inner-dot {
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(15, 177, 0, 0.4);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.btn-chat .bubble::after {
  content: "";
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(0, 168, 28, 0.4);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.modal-header {
  padding: 5px 15px;
  border-bottom: 1px solid #e5e5e5;
}

#modal-chat {
  top: unset;
  left: unset;
  bottom: 72px;
}
#modal-chat .modal-title {
  font-size: 15px;
}
#modal-chat .modal-dialog {
  width: 350px;
  margin: 0;
}
#modal-chat .modal-content {
  height: 400px;
  overflow: scroll;
}
#modal-chat .modal-content.not-logged-in {
  height: 170px;
}
#modal-chat .modal-body {
  height: 280px;
  font-size: 13px;
  padding: 5px;
  overflow: scroll;
}
#modal-chat .modal-body.not-logged-in {
  height: 80px;
}
#modal-chat .modal-body .a-speak {
  display: block;
  padding: 5px 10px;
  color: #000;
  border-radius: 5px;
  clear: both;
  margin-bottom: 10px;
  font-size: 15px;
  max-width: 80%;
}
#modal-chat .modal-body .time {
  color: #4b4b4b;
  font-size: 12px;
  display: block;
  line-height: 12px;
  padding-top: 2px;
}
#modal-chat .modal-body .their {
  float: left;
  text-align: left;
  background-color: rgba(61, 157, 236, 0.78);
}
#modal-chat .modal-body .their .time {
  text-align: left;
}
#modal-chat .modal-body .mine {
  float: right;
  text-align: left;
  background-color: rgba(228, 128, 57, 0.7803921569);
}
#modal-chat .modal-body .mine .time {
  text-align: right;
}
#modal-chat .modal-footer {
  display: flex;
  padding: 5px;
  text-align: left;
}
#modal-chat form {
  width: 100%;
}
#modal-chat form .text-box {
  float: left;
  width: calc(100% - 65px);
}
#modal-chat form .text-box textarea {
  width: 100%;
  height: 70px;
}
#modal-chat form .send {
  float: right;
  width: 60px;
}
#modal-chat form .send .btn-send {
  height: 70px;
}

.chat-center {
  width: 100%;
  height: 550px;
  min-height: 800px;
  display: flex;
  color: #000;
}

/**
User list
*/
.user-list {
  float: left;
  height: 100%;
  overflow: scroll;
  background-color: #fff;
  border: 1px solid #525252;
  border-radius: 5px;
}
.user-list .user-item {
  margin: 1px;
  padding: 2px;
  border: 1px solid #525252;
}

/**
Chat box
*/
.chat-box {
  float: right;
  height: 100%;
  overflow: scroll;
  margin-left: 4px;
  background-color: #fff;
  border: 1px solid #525252;
  border-radius: 5px;
}

/**
User online status
*/
.user-online table {
  color: #0a0e17;
  background-color: #fff;
  width: 80%;
  border-radius: 10px;
}
.user-online th {
  padding: 5px;
  border: 1px solid #797979;
}
.user-online td {
  padding: 5px;
  border: 1px solid #797979;
}
.user-online .online {
  color: #0b5ed7;
  font-weight: bold;
}
