@charset "UTF-8";
.long-page .search-section .search-form {
  float: left;
  width: 50%;
  margin: 0 auto 10px;
  padding: 0;
  text-align: left;
}
@media (max-width: 991px) {
  .long-page .search-section .search-form {
    width: 100%;
  }
}
.long-page .search-section .search-form [class^=col-] {
  padding: 2px;
}
.long-page .search-section .search-form .form-control {
  margin-bottom: 10px;
}
.long-page .search-section .search-info {
  padding: 0;
  text-align: left;
  margin: 10px 0 20px;
}
.long-page .search-section .search-info .info {
  text-shadow: 1px 0 1px #000000;
  background-color: #898989;
  padding: 5px 10px;
  font-size: 16px;
  color: #ffffff;
}
.long-page .search-section .search-items {
  width: 100%;
}
.long-page .search-section .search-items .search-item {
  position: relative;
  background: #fff;
  margin-bottom: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: inset 0 0 0 1px #cac8c8;
  box-sizing: border-box;
  color: #5a5a5a;
}
.long-page .search-section .search-items .search-item .edit-message {
  float: right;
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
}
.long-page .search-section .search-items .search-item .edit-message .btn {
  color: #fff;
  background-color: #808080;
  padding: 2px 7px;
}
.long-page .search-section .search-items .search-item .edit-message .btn:hover {
  background-color: #4590ad;
}
.long-page .search-section .search-items .search-item .edit-message .dropdown-menu {
  padding: 0;
  border: none;
  left: auto;
  right: 0;
}
.long-page .search-section .search-items .search-item .date {
  color: #a9a9a9;
  font-weight: bold;
}
.long-page .search-section .search-items .search-item .item-image {
  float: left;
  margin-right: 10px;
}
.long-page .search-section .search-items .search-item .item-image img {
  width: 150px;
  max-height: 100px;
}
.long-page .search-section .search-items .search-item .message {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.long-page .search-section .search-items .search-item .message .read-more-state {
  display: none;
}
.long-page .search-section .search-items .search-item .message .read-more-wrap {
  margin-bottom: 10px;
}
.long-page .search-section .search-items .search-item .message .read-more-wrap .read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}
.long-page .search-section .search-items .search-item .message .read-more-state:checked ~ .read-more-wrap .read-more-target {
  display: inline;
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.long-page .search-section .search-items .search-item .message .read-more-state ~ .read-more-trigger:before {
  content: "Show more";
}
.long-page .search-section .search-items .search-item .message .read-more-state:checked ~ .read-more-trigger:before {
  content: "Show less";
}
.long-page .search-section .search-items .search-item .message .read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  color: #666;
  font-size: 0.9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 0.25em;
}
.long-page .search-section .search-items .search-item .tags {
  margin-bottom: 10px;
  color: #a9a9a9;
  font-weight: bold;
  font-style: italic;
}
.long-page .search-section .search-items .search-item .comment {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.long-page .search-section .search-items .search-item .comment .count {
  cursor: pointer;
  font-weight: normal;
}
.long-page .search-section .search-items .search-item .comment .count:hover {
  color: #3097d1;
}
.long-page .search-section .search-items .search-item .comment .count:after {
  font-size: 0.8em;
}
.long-page .search-section .search-items .search-item .comment .comment-state {
  display: none;
}
.long-page .search-section .search-items .search-item .comment .comment-state ~ .count:after {
  content: "▼";
}
.long-page .search-section .search-items .search-item .comment .comment-state:checked ~ .count:after {
  content: "▲";
}
