@charset "UTF-8";
.takeword-section .elements .takeword-item {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #5a5a5a;
}
.takeword-section .elements .takeword-item .item-image {
  float: left;
  margin-right: 10px;
}
.takeword-section .elements .takeword-item .item-image img {
  width: 150px;
  max-height: 100px;
}
.takeword-section .elements .takeword-item .word {
  position: relative;
  display: inline-block;
  min-height: 120px;
  width: calc(100% - 160px);
}
.takeword-section .elements .takeword-item .word .edit-message {
  float: right;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}
.takeword-section .elements .takeword-item .word .edit-message .btn {
  color: #fff;
  background-color: #808080;
  padding: 2px 7px;
}
.takeword-section .elements .takeword-item .word .edit-message .btn:hover {
  background-color: #4590ad;
}
.takeword-section .elements .takeword-item .word .edit-message .dropdown-menu {
  padding: 0;
  border: none;
  left: auto;
  right: 0;
}
.takeword-section .elements .takeword-item .word .author {
  display: inline-block;
}
.takeword-section .elements .takeword-item .word .date {
  display: inline-block;
  padding-left: 20px;
  color: #a9a9a9;
  font-weight: bold;
}
.takeword-section .elements .takeword-item .word .message {
  margin-bottom: 10px;
  font-size: 1.2em;
}
.takeword-section .elements .takeword-item .word .message .read-more-state {
  display: none;
}
.takeword-section .elements .takeword-item .word .message .read-more-wrap {
  margin-bottom: 10px;
}
.takeword-section .elements .takeword-item .word .message .read-more-wrap .read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}
.takeword-section .elements .takeword-item .word .message .read-more-state:checked ~ .read-more-wrap .read-more-target {
  display: inline;
  opacity: 1;
  font-size: inherit;
}
.takeword-section .elements .takeword-item .word .message .read-more-state ~ .read-more-trigger:before {
  content: "More »";
}
.takeword-section .elements .takeword-item .word .message .read-more-state:checked ~ .read-more-trigger:before {
  content: "«Less";
}
.takeword-section .elements .takeword-item .word .message .read-more-trigger {
  cursor: pointer;
  display: inline-block;
  color: #3097d1;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1;
}
.takeword-section .elements .takeword-item .word .tags {
  margin: 10px 0 10px;
  color: #a9a9a9;
  font-weight: bold;
  font-style: italic;
}
.takeword-section .elements .takeword-item .word .taken-count {
  display: inline-block;
  border-bottom: 1px solid #b2afaf;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 10px;
  line-height: 20px;
}
.takeword-section .elements .takeword-item .word .take-this {
  text-align: right;
}
.takeword-section .elements .takeword-item .word .take-this .btn-take-this {
  background-color: #2881b3;
  color: white;
  border: 1px solid #dfdfdf;
  padding: 5px 15px;
  border-radius: 4px;
}
.takeword-section .elements .takeword-item .word .take-this .btn-already-taken {
  background-color: #6f93a7;
  color: #cfcfcf;
  border: 1px solid rgba(77, 77, 77, 0.4196078431);
  padding: 8px 15px;
  border-radius: 4px;
}
.takeword-section .elements .takeword-item .comment {
  padding: 5px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.takeword-section .elements .takeword-item .comment .count {
  cursor: pointer;
  font-weight: normal;
}
.takeword-section .elements .takeword-item .comment .count:hover {
  color: #3097d1;
}
.takeword-section .elements .takeword-item .comment .count:after {
  font-size: 0.8em;
}
.takeword-section .elements .takeword-item .comment .comment-state {
  display: none;
}
.takeword-section .elements .takeword-item .comment .comment-state ~ .count:after {
  content: "▼";
}
.takeword-section .elements .takeword-item .comment .comment-state:checked ~ .count:after {
  content: "▲";
}
.takeword-section .elements .btn-more-takeword {
  margin-bottom: 20px;
  background-color: #fff;
  color: #535353;
  border-radius: 4px;
  border: none;
  padding: 5px 8px;
  text-shadow: 1px 1px 2px #4eadf8;
}
