version: '2.2'
services:
  jenkins:
    image: jenkins:jdk17
    container_name: jenkins
    volumes:
      - data01:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - elastic

volumes:
  data01:
    driver: local

networks:
  elastic:
    driver: bridge
