
/**
 * Scroll down menu
**/
* {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    transition: all 0.1s ease;
}

html, body {
    height: 100%;
}

h1 {
    font-size: 64px;
}
.suw-link {
    text-decoration: none;
    color: #3939bb;
}
.page-section {
    padding: 60px 20px 20px;
    /*background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%);*/
    /*color: white;*/
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-top: 30px;
    /*max-height: 600px;*/
}
hr {
    width: 40%;
    margin-left: 30%;
}
.scroll-focus {
    display: flex;
    padding: 70px 0 100px;
}

.content {
    width: 70%;
    float: left;
}

.foreword {
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    line-height: 28px;
}

.navigation {
    position: fixed;
    width: calc(25% - 20px);
    background-color: #fff;
    color: #9f9f9f;
    margin-left: 10px;
    right: 10px;
    border: 1px solid #afafaf;
    border-radius: 5px;
}
.navigation__link {
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 8px 15px;
    font-weight: 400;
}
.navigation__link:hover {
    background-color: #aaa;
    color: #265097;
}
.navigation__link.active {
    color: #ffffff;
    background-color: rgb(0 0 0 / 24%);
}
.new-update {
    border-top: 1px solid #222;
    display: block;
    padding: 8px;
    text-align: center;
}
/**
 * End of Scroll down menu
**/

/**
 * Slider
**/
/*GLOBALS*/
*{margin:0; padding:0; list-style:none;}
a{text-decoration:none;	color:#666;}
body, hmtl{background: #ecf0f1; font-family: 'Anton', sans-serif;}
.hide-text {
    color: #ecf0f1;
}

#wrapper{
    width:600px;
    margin:50px auto;
    height:400px;
    position:relative;
    color:#fff;
    text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;
}

#slider-wrap{
    width:600px;
    height:400px;
    position:relative;
    overflow:hidden;
}

#slider-wrap ul#slider{
    width:100%;
    height:100%;

    position:absolute;
    top:0;
    left:0;
}

#slider-wrap ul#slider li{
    float:left;
    position:relative;
    width:600px;
    height:400px;
}

#slider-wrap ul#slider li > div{
    position:absolute;
    top:20px;
    left:35px;
}

#slider-wrap ul#slider li > div h3{
    font-size:36px;
    text-transform:uppercase;
}

#slider-wrap ul#slider li > div span{
    font-family: Neucha, Arial, sans serif;
    font-size:21px;
}

#slider-wrap ul#slider li i{
    text-align:center;
    line-height:400px;
    display:block;
    width:100%;
    font-size:90px;
}


/*btns*/
.btns{
    position:absolute;
    width:50px;
    height:60px;
    top:50%;
    margin-top:-25px;
    line-height:57px;
    text-align:center;
    cursor:pointer;
    background:rgba(0,0,0,0.1);
    z-index:100;


    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.btns:hover{
    background:rgba(0,0,0,0.3);
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
    top: 30px;
    right:35px;
    width:auto;
    position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
    min-width:20px;
    margin-top:350px;
    margin-left: auto;
    margin-right: auto;
    height:15px;
    position:relative;
    text-align:center;
}

#pagination-wrap ul {
    width:100%;
}

#pagination-wrap ul li{
    margin: 0 4px;
    display: inline-block;
    width:5px;
    height:5px;
    border-radius:50%;
    background:#fff;
    opacity:0.5;
    position:relative;
    top:0;


}

#pagination-wrap ul li.active{
    width:12px;
    height:12px;
    top:3px;
    opacity:1;
    box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;
}




/*Header*/
h1, h2{text-shadow:none; text-align:center;}
h1{	color: #666; text-transform:uppercase;	font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;}




/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
    -webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    -moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    -o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    -ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    transition: all 0.3s cubic-bezier(1,.01,.32,1);
}
/**
 * End of Slider
**/

/**
 * Progress bar
**/
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

.header .title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    padding: 10px 0 5px;
    color: #535353;
}

.header h2 {
    text-align: center;
}

.progress-container {
    width: 100%;
    height: 3px;
    background: #ccc;
}

.progress-bar {
    height: 3px;
    background: #618de3;
    width: 0%;
}
/**
 * End of Progress bar
**/

.bg-text {
    color: #ecf0f1;
}
